<!DOCTYPE html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Edit</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav th:replace="/fragment/header.html::header"></nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav th:replace="/fragment/sidebar.html::sidebar"></nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="page-header">
                      <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-info text-white mr-2">
                          <i class="mdi mdi-home"></i>
                        </span> User Edit
                      </h3>
                      
                  
                    </div>
                    <form class="forms-sample">
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputUsername2" class="col-sm-2 col-form-label">User Name *</label>
                        <div class="col-sm-4 ">
                          <input type="text" class="form-control" id="exampleInputUsername2" placeholder="User Name" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Password *</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="exampleInputEmail2" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Confirmed Password *</label>
                        <div class="col-sm-4">
                          <input type="password" class="form-control" id="exampleInputEmail2" placeholder="Confirmed Password">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Phone *</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Phone">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Email *</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">NRC *</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="NRC">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Position *</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Position">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleSelectGender" class="col-sm-2 col-form-label">Role Name *</label>
                        <div class="col-sm-4">
                          <select class="form-control form-control-sm" id="exampleFormControlSelect3">
                            <option>Checker</option>
                            <option>Maker</option>
                          </select>
                        </div>
                        
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleSelectGender" class="col-sm-2 col-form-label">Permission</label>
                        <div class="col-sm-2" >
                        <div class="form-check " >
                          <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input " name="optionsRadios" id="optionsRadios2" value="option2" checked> Admin </label>
                        </div>
                      </div>
                      <div class="col-sm-2" >
                        <div class="form-check" >
                          <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input " name="optionsRadios" id="optionsRadios2" value="option2" >CRM</label>
                        </div>
                      </div>
                      <div class="col-sm-2" >
                        <div class="form-check " >
                          <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input " name="optionsRadios" id="optionsRadios2" value="option2" > Loan</label>
                        </div>
                      </div>
                      
                        
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-2" >
                        <div class="form-check " >
                          <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input " name="optionsRadios" id="optionsRadios2" value="option2" >Account</label>
                        </div>
                      </div>
                      <div class="col-sm-2" >
                        <div class="form-check" >
                          <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input " name="optionsRadios" id="optionsRadios2" value="option2" >Transaction</label>
                        </div>
                      </div>
                      <div class="col-sm-2" >
                        <div class="form-check " >
                          <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input " name="optionsRadios" id="optionsRadios2" value="option2" >COA</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-2" >
                        <div class="form-check " >
                          <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input " name="optionsRadios" id="optionsRadios2" value="option2" > Blacklist </label>
                        </div>
                      </div>
                      <div class="col-sm-2" >
                        <div class="form-check" >
                          <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input " name="optionsRadios" id="optionsRadios2" value="option2" >Report</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                      <!-- <button type="submit" class="btn btn-gradient-primary mr-2">Edit</button> -->
                      <a href="MFI_CUR_02.html" class="btn btn-gradient-success mr-2" >EDIT</a>
                      <a href="MFI_CUR_02.html"  class="btn btn-secondary">BACK</a>
                       <!-- <button class="btn btn-light">Cancel</button> -->
                    </div>
                   
                  </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
           
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer th:replace="/fragment/footer.html::footer"></footer>

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>