<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentnamespace">

	<insert id="insertStudent" parameterType="stuReq" useGeneratedKeys="true" keyProperty="studentId" >
		insert into student
		(student_id,student_name,class_name,register_date,status)
		values
		(#{studentId},#{studentName},#{className},#{registerDate},#{status});
	
	</insert>
	
	<update id="updateStudent" parameterType="stuReq" >
	
		update student set 
		
			student_id = #{studentId},student_name=#{studentName},
			class_name=#{className},register_date=#{registerDate},status=#{status} 
			
				where student_id=#{studentId}
	</update>
	
	<delete id="deleteStudent" parameterType="stuReq">
		delete from student where student_id = #{studentId}
	</delete>
	
	
	<select id="selectStudent" parameterType="stuReq" resultMap="studentResult">
	
		select * from student
		
		<where>
		
			<if test="studentId != null and studentId != '' ">
				student_id like #{studentId}
			</if>
			
			<if test="studentName != null and studentName != ''">
				student_name like #{studentName}
			</if>
			
			<if test="className != null and className != '' ">
				class_name like #{className}
			</if>
		</where>
		
		
	</select>
	
	
	<resultMap type="stuRes" id="studentResult">
		<result property="studentId" column="student_id"/>
		<result property="studentName" column="student_name"/>
		<result property="className" column="class_name"/>
		<result property="registerDate" column="register_date"/>
		<result property="status" column="status"/>
	</resultMap>

</mapper>