<!DOCTYPE html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transaction Listing Report</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
</head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav th:replace="/fragment/header.html::header"></nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        
<nav th:replace="/fragment/sidebar.html::sidebar"></nav>        <!-- partial -->
       <div class="main-panel">
          <div class="content-wrapper">

           

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="page-header">
                    <h3 class="page-title">
                      <span class="page-title-icon bg-gradient-info text-white mr-2">
                        <i class="mdi mdi-home"></i>
                      </span> Transaction Listing Report
                    </h3>
                    
                
                  </div>
                  <br>
                 
                  <form class="form-inline">
                    <label for="inlineFormInputName2" class="col-sm-2 col-form-label">Start Date</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="start date">
                    <!-- <div class="input-group mb-2 mr-sm-4">
                    </div> -->
              
                <label for="inlineFormInputName2" class="col-sm-2 col-form-label">End Date</label>
                <input type="date" class="form-control mb-2 mr-sm-2" id="inlineFormInputGroupUsername2" placeholder="end date">
            
              <div class="input-group mb-2 mr-sm-4">
              </div>

              <button type="submit" class="btn btn-gradient-primary mb-2">Search</button>
            </form>
            <br>

                  <div class="row">
                    <div class="col-lg-10"></div>
                    
                    <div class="col-lg-1">
                    

                        <form action="" class="form-inline">

                        <button type="submit" class="btn btn-gradient-primary mb-12">Export</button>
                        </form>
                     



                    </div>
                  </div>
                  <br> 

                  <table class="table table-hover table-responsive">
                    <thead>
                      <tr>
                        <th>Transation Id</th>
                        <th> Account Number </th>
                        <th>COA Id </th>
                        <th>  Date </th>
                        <th> Amount </th>
                        <th>Transation Type</th>
                        <th>Transation Code</th>
                        <th>Account Name</th>
                        <th>Narration</th>
                        <th>Created User</th>
                        <th>Created Date</th>
                        <th>Updated User</th>
                        <th>Updated Date</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Trans001</td>

                        <td> 1110002223333</td>
                        <td>
                          COA001
                        </td>
                        <td> 4.5.2021</td>
                        <td> 800000 </td>
                        <td>Deposit</td>
                        <td>555555</td>
                        <td>SAV001</td>
                        <td>narration</td>
                        <td>Mg Aung</td>
                        <td>4.8.2021</td>
                        <td>Aung Aung</td>
                        <td>5.8.2021</td>


                      </tr>







                    </tbody>
                  </table>
                  <br>      
                  <div class="form-group row">
                    <div class="col-sm-9"></div>
                   
                    <div class="col-sm-3 mr-sm-3">
                      <nav >
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </nav>
                    </div>
                   
                  </div>
                  

                </div>
              </div>
            </div>


          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         <footer th:replace="/fragment/footer.html::footer"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>